PORT=5000
MONGO_URI=mongodb://localhost:27017/bizzops
# For MongoDB Atlas: mongodb+srv://<user>:<password>@cluster.mongodb.net/bizzops
JWT_SECRET=your_super_secret_key_here
JWT_EXPIRE=7d
NODE_ENV=development
CLIENT_URL=http://localhost:5173
# Zoho Mail Settings
SMTP_EMAIL=your_super_admin_email@domain.com  # Use your main login email
SMTP_PASSWORD=your_app_password_here         # Use the 16-digit App Password
FROM_EMAIL=noreply@yourdomain.com            # This is your alias
FROM_NAME=BizzOps
